@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Caution: Test website, educational project</h2>

<p>
    This is a test website and an educational project. 
    It is not the official website for any project. 
    All content is placeholder content. 
</p>

<p>
    Please keep in mind that this is an educational project. 
    It is possible that we may inadvertently store information that you submit.
    Please do not submit personally identifiable information on this website.
</p>
